.marg{
    margin: 20px;
}
.a{
    margin: 10px;
}
.email{
    margin-top: 5%;
}
.infobar{
    text-align: center;
    width: 600px;
    font-size: 14px;
    font-family: arial;
    margin-bottom: 70px;
}
.emailbody{
    font-size: 14px;
    font-family: arial;
}