<!--The content below is only a placeholder and can be replaced.-->
<html (mousemove)="onMove()">
<div style="text-align:center">

  <h1>E-mail</h1>
  <div style="text-align:center">
    <div class="marg">
      <input class="a" type="text" id="profissao" placeholder="Profissão">
      <input class="a" type="text" id="Nacionalidade" placeholder="Nacionalidade">
      <input class="a" type="text" id="Cidade" placeholder="Cidade">
      <input class="a" type="text" id="Estado" placeholder="Estado">
      <input class="a" type="text" id="País" placeholder="País">
    </div>
  </div>
  <br>
  <input type="button" id="buscar" value="Buscar">
  <a href='emaillist'><button>Enviados</button></a>


  <div style="margin-top: 5%; ">
    <input type=text id="assunto" [(ngModel)]="email.subject" style="width: 600px; font-size: 14px; font-family: arial;"
      placeholder="Escreva o assunto do E-mail" required="preencha o Assunto">
    <br><input type=text id="assunto" [(ngModel)]="email.email"
      style="width: 600px; font-size: 14px; font-family: arial;" placeholder="Escreva o endereço do E-mail"
      required="preencha o Endereço de email"><br><br><br>
    <textarea ng-model="myTextarea" id="corpodetexto" [(ngModel)]="email.body"
      style="font-size: 14px; font-family: arial;" rows="20" cols="80" placeholder="Escreva o corpo do E-mail"
      required="Preencha o corpo do email"></textarea> <br>
    <button (click)="criarEmail(email)">Enviar</button>
    <td *ngIf="naoenviado">
      Falha ao enviar email.
    </td>
    <td *ngIf="enviado">
      E-mail enviado com sucesso!
    </td>
    <td *ngIf="sub">
      Você não pode enviar um e-mail sem assunto.
    </td>
    <td *ngIf="bod">
      Você não pode enviar um e-mail sem corpo.
    </td>
  </div>
</div>

</html>

<router-outlet></router-outlet>