<!DOCTYPE html>
<html>
    <title>Graficos</title>
    <body>
        <canvas id="vendaDia"></canvas>
        <canvas id="vendaDiaSemana"></canvas>
        <canvas id="periodo"></canvas>
        <canvas id="diaHora"></canvas>
    </body>
    <script src="./node_modules/chart.js/dist/Chart.js"></script>
    <script>
    const flowValues = []
const flowIndicators = []
var chartFlow
var flowTime = 0
var flowCtx

const volsValues = []
volsValues[0] = []
volsValues[1] = []
const volsIndicators = []
var chartVols
var volsTime = 0
var volsCtx

const volsIntervalTime = 200
const flowIntervalTime = 10
const maxVolsGraphicSize = 10000
const maxFlowGraphicSize = 10000
const minFlowValue = 0
const maxFlowValue = 100
const minVolsValue = -3
const maxVolsValue = 3

// Creating Graphic configuration
var VendaDia = {
  type: 'line',
  data: {
    labels: volsIndicators,
    datasets: [{
      showline: false,
      label: 'A',
      data: volsValues[0],
      fill: false,
      borderColor: [
        'rgba(0, 0, 132, 1)'
      ],
      borderWidth: 2
    }]
  },
  options: {
    legend: false,
    title: {
      display: true,
      text: 'Venda por Tipo de Quarto',
      fontSize: 30,
      fontColor: "#008B8B"
    },
    tooltips: {
      callbacks: {
        footer: function (tooltipItem, data) {
          let ret
          tooltipItem.forEach(function (tooltipItem) {
            ret = 'Venda: ' + flowIndicators[tooltipItem.index]
          })
          return ret
        },
        title: function (tooltipItem, data) {
          return 'Informacoes'
        }
      }
    },
    animation: {
      duration: 0
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Tipo de quarto'
          fontSize: 15
        },
        ticks: {
          min: minVolsValue,
          max: maxVolsValue
        }
      }],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Tempo (s)',
          fontSize: 15
        }
      }]
    }
  }
}

var diaHora = {
  type: 'line',
  data: {
    labels: volsIndicators,
    datasets: [{
      showline: false,
      label: 'A',
      data: volsValues[0],
      fill: false,
      borderColor: [
        'rgba(0, 0, 132, 1)'
      ],
      borderWidth: 2
    }]
  },
  options: {
    legend: false,
    title: {
      display: true,
      text: 'Venda por Dia e Hora',
      fontSize: 30,
      fontColor: "#008B8B"
    },
    tooltips: {
      callbacks: {
        footer: function (tooltipItem, data) {
          let ret
          tooltipItem.forEach(function (tooltipItem) {
            ret = 'Venda: ' + flowIndicators[tooltipItem.index]
          })
          return ret
        },
        title: function (tooltipItem, data) {
          return 'Informacoes'
        }
      }
    },
    animation: {
      duration: 0
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Dia e Hora'
          fontSize: 15
        },
        ticks: {
          min: minVolsValue,
          max: maxVolsValue
        }
      }],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Venda',
          fontSize: 15
        }
      }]
    }
  }
}


var periodo = {
  type: 'line',
  data: {
    labels: volsIndicators,
    datasets: [{
      showline: false,
      label: 'A',
      data: volsValues[0],
      fill: false,
      borderColor: [
        'rgba(0, 0, 132, 1)'
      ],
      borderWidth: 2
    }]
  },
  options: {
    legend: false,
    title: {
      display: true,
      text: 'Venda por Periodo',
      fontSize: 30,
      fontColor: "#008B8B"
    },
    tooltips: {
      callbacks: {
        footer: function (tooltipItem, data) {
          let ret
          tooltipItem.forEach(function (tooltipItem) {
            ret = 'Venda: ' + flowIndicators[tooltipItem.index]
          })
          return ret
        },
        title: function (tooltipItem, data) {
          return 'Informacoes'
        }
      }
    },
    animation: {
      duration: 0
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Periodo'
          fontSize: 15
        },
        ticks: {
          min: minVolsValue,
          max: maxVolsValue
        }
      }],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Venda',
          fontSize: 15
        }
      }]
    }
  }
}

var VendaDiaSemana = {
  type: 'line',
  data: {
    labels: volsIndicators,
    datasets: [{
      showline: false,
      label: 'A',
      data: volsValues[0],
      fill: false,
      borderColor: [
        'rgba(0, 0, 132, 1)'
      ],
      borderWidth: 2
    }]
  },
  options: {
    legend: false,
    title: {
      display: true,
      text: 'Venda por Dia da semana',
      fontSize: 30,
      fontColor: "#008B8B"
    },
    tooltips: {
      callbacks: {
        footer: function (tooltipItem, data) {
          let ret
          tooltipItem.forEach(function (tooltipItem) {
            ret = 'Venda: ' + flowIndicators[tooltipItem.index]
          })
          return ret
        },
        title: function (tooltipItem, data) {
          return 'Informacoes'
        }
      }
    },
    animation: {
      duration: 0
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Dia da semana'
          fontSize: 15
        },
        ticks: {
          min: minVolsValue,
          max: maxVolsValue
        }
      }],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Venda',
          fontSize: 15
        }
      }]
    }
  }
}


// Function that runs when the pages opens
window.onload = function () {
  // catch tag "canvas" of html file, by ID.
  //flowCtx = document.getElementById('flowChart')
  var g1 = document.getElementById('vendaDia')
  var g2 = document.getElementById('vendaDiaSemana')
  var g3 = document.getElementById('periodo')
  var g4 = document.getElementById('diaHora')
  // Create two graphcs
  /* global Chart */
  //chartFlow = new Chart(flowCtx, FlowConf)
  chartg1 = new Chart(g1, VendaDia)
  chartg2 = new Chart(g2, VendaDiaSemana)
  chartg3 = new Chart(g3, periodo)
  chartg4 = new Chart(g4, periodo)
  // Run the updating function of the two graphcs already created
  // The refresh rate is in milliseconds
  //setInterval(updateFlow, flowIntervalTime)
  setInterval(updateVols, volsIntervalTime)
}

// this function follow exactly the normal update path
function updateFlow () {
  updateGraphicValues(flowValues, randomNumber(minFlowValue, maxFlowValue))
  updateGraphicIndicators(flowTime, flowIndicators)
  removeOldValues(flowTime, maxFlowGraphicSize, flowValues)
  removeOldIndicator(flowIndicators, flowTime, maxFlowGraphicSize)
  flowTime += flowIntervalTime
  //chartFlow.update()
}

// In this function, we gonna add two indicators and one two value.
// the first value is the diference between the atual value and the next
function updateVols () {
  let diff
  let random

  // In the first iteration, add a value and a indicator only one time
  if (typeof volsValues[0][0] !== 'number') {
    updateGraphicValues(volsValues[0], minVolsValue, maxVolsValue)
    updateGraphicValues(volsValues[1], minVolsValue, maxVolsValue)
    updateGraphicIndicators(volsTime, volsIndicators)
  } else {
    // Add the first value two times
    random = randomNumber(minVolsValue, maxVolsValue)
    diff = Math.max(random, volsValues[0][volsValues[0].length - 1]) - Math.min(random, volsValues[0][volsValues[0].length - 1])
    diff = Math.floor(diff / 2)

    // addes the current value and your intermediate
    updateGraphicValues(volsValues[0], diff)
    updateGraphicValues(volsValues[0], random)

    // Add the second value two times
    random = randomNumber(minVolsValue, maxVolsValue)
    diff = Math.max(random, volsValues[1][volsValues[1].length - 1]) - Math.min(random, volsValues[1][volsValues[1].length - 1])
    diff = Math.floor(diff / 2)

    // addes the current value and your intermediate
    updateGraphicValues(volsValues[1], diff)
    updateGraphicValues(volsValues[1], random)

    // Add new indicators
    updateGraphicIndicators(volsTime, volsIndicators)
    updateGraphicIndicators(volsTime + (volsIntervalTime / 2), volsIndicators)

    // Remove old Values two time
    // Old values from first serie
    removeOldValues(volsTime, maxVolsGraphicSize, volsValues[0])
    removeOldValues(volsTime, maxVolsGraphicSize, volsValues[0])

    // Old values from second serie
    removeOldValues(volsTime, maxVolsGraphicSize, volsValues[1])
    removeOldValues(volsTime, maxVolsGraphicSize, volsValues[1])

    // Remove Indicators two times
    removeOldIndicator(volsIndicators, volsTime, maxVolsGraphicSize)
    removeOldIndicator(volsIndicators, volsTime, maxVolsGraphicSize)
  }
  // Updating chart and graphic time
  volsTime += volsIntervalTime
  chartVols.update()
}

function updateGraphicValues (values, value) {
  values.push(value)
}

function updateGraphicIndicators (time, indicators) {
  indicators.push(secondToMillisecond(time))
}

function removeOldValues (time, maxGraphicSize, values) {
  if (time > maxGraphicSize) values.shift()
}

function removeOldIndicator (indicator, time, maxGraphicSize) {
  if (time > maxGraphicSize) indicator.shift()
}

function randomNumber (min, max) {
  let diff = max - min
  diff = Math.floor(Math.random() * (diff + 1))
  return min + diff
}

function secondToMillisecond (number) {
  return number / 1000
}

    </script>
</html>