<!DOCTYPE html>
<html>
    <title>Graficos</title>
    <body>
        <input id ="dayValue"type="text"> 
        <input id ="salesValue"type="text"> 
        <canvas id="vendaDia"></canvas>
        <canvas id="vendaDiaSemana"></canvas>
        <canvas id="periodo"></canvas>
        <canvas id="diaHora"></canvas>
    </body>
    <script src="./node_modules/chart.js/dist/Chart.js"></script>
    <script>

// Creating Graphic configuration
var VendaDia = {
  type: 'line',
  data: {
    labels: volsIndicators,
    datasets: [{
      showline: false,
      label: 'A',
      data: volsValues[0],
      fill: false,
      borderColor: [
        'rgba(0, 0, 132, 1)'
      ],
      borderWidth: 2
    }]
  },
  options: {
    legend: false,
    title: {
      display: true,
      text: 'Venda por Tipo de Quarto',
      fontSize: 30,
      fontColor: "#008B8B"
    },
    tooltips: {
      callbacks: {
        footer: function (tooltipItem, data) {
          let ret
          tooltipItem.forEach(function (tooltipItem) {
            ret = 'Venda: ' + flowIndicators[tooltipItem.index]
          })
          return ret
        },
        title: function (tooltipItem, data) {
          return 'Informacoes'
        }
      }
    },
    animation: {
      duration: 0
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Tipo de quarto',
          fontSize: 15
        },
        ticks: {
          min: minVolsValue,
          max: maxVolsValue
        }
      }],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Tempo (s)',
          fontSize: 15
        }
      }]
    }
  }
}

    </script>
</html>