<H1>Check-in</H1>

<table>
	<tr>
		<td><label>Email</label></td>
		<td><input [(ngmodel)]="form.email" name="emailbox"></td>
	</tr>
	<tr>
		<td><label>Telefone</label></td>
		<td><input [(ngmodel)]=form.telefone name="telefonebox"></td>
	</tr>
    <tr>
		<td><label>Celular</label></td>
		<td><input [(ngmodel)]="form.celular" name="celularbox"></td>
	</tr>
	<tr>
		<td><label>Nacionalidade</label></td>
		<td><input [(ngmodel)]=form.nacionalidade name="nacionalidadebox"></td>
	</tr>
    <tr>
		<td><label>Aniversário</label></td>
		<td><input [(ngmodel)]="form.aniversario" name="aniversariobox"></td>
	</tr>
	<tr>
		<td><label>Gênero</label></td>
		<td><input [(ngmodel)]=form.genero name="generobox"></td>
	</tr>
    <tr>
		<td><label>Número</label></td>
		<td><input [(ngmodel)]="form.numero" name="numerobox"></td>
	</tr>
	<tr>
		<td><label>Tipo</label></td>
		<td><input [(ngmodel)]=form.tipo name="tipobox"></td>
	</tr>
    <tr>
		<td><label>Órgão</label></td>
		<td><input [(ngmodel)]="form.orgao" name="orgaobox"></td>
	</tr>
	<tr>
		<td><label>Endereço</label></td>
		<td><input [(ngmodel)]=form.endereco name="enderecobox"></td>
	</tr>
    <tr>
		<td><label>Número</label></td>
		<td><input [(ngmodel)]="form.numeroRua" name="numeroRuabox"></td>
	</tr>
    <tr>
		<td><label>Complemento</label></td>
		<td><input [(ngmodel)]="form.complemento" name="complementobox"></td>
	</tr>
	<tr>
		<td><label>Bairro</label></td>
		<td><input [(ngmodel)]=form.bairro name="bairrobox"></td>
	</tr>
	<tr>
		<td><label>Cidade</label></td>
		<td><input [(ngmodel)]=form.cidade name="cidadebox"></td>
	</tr>
    <tr>
		<td><label>Estado</label></td>
		<td><input [(ngmodel)]="form.estado" name="estadobox"></td>
	</tr>
	<tr>
		<td><label>País</label></td>
		<td><input [(ngmodel)]=form.pais name="paisbox"></td>
	</tr>
    <tr>
		<td><label>CEP</label></td>
		<td><input [(ngmodel)]="form.cep" name="cepbox"></td>
	</tr>
    <!-- próxima procedência-->
	<tr>
		<td><label>País anterior</label></td>
		<td><input [(ngmodel)]=form.ProcPais name="ProcPaisbox"></td>
	</tr>
    <tr>
		<td><label>Estado anterior</label></td>
		<td><input [(ngmodel)]="form.ProcEstado" name="ProcEstadobox"></td>
	</tr>
	<tr>
		<td><label>Cidade anterior</label></td>
		<td><input [(ngmodel)]=form.ProcCidade name="ProcCidadebox"></td>
	</tr>
    <tr>
		<td><label>Próximo País</label></td>
		<td><input [(ngmodel)]="form.ProxPais" name="ProxPaisbox"></td>
	</tr>
	<tr>
		<td><label>Próxima estado</label></td>
		<td><input [(ngmodel)]=form.ProxEstado name="ProxEstadobox"></td>
	</tr>
    <tr>
		<td><label>Próxima cidade</label></td>
		<td><input [(ngmodel)]="form.ProxCidade" name="ProxCidadebox"></td>
	</tr>
    <!-- Motivo -->
	<tr>
		<td><label>Motivo da viagem</label></td>
		<td><input [(ngmodel)]=form.Motivo name="Motivobox"></td>
	</tr>
    <tr>
		<td><label>Meio de transporte</label></td>
		<td><input [(ngmodel)]="form.MeioDeTransporte" name="MeioDeTransportebox"></td>
	</tr>
	<tr>
		<td><label>Obervações</label></td>
		<td><input [(ngmodel)]=form.Obcervacoes name="Obcervacoesbox"></td>
	</tr>
    <tr>
		<td><label>Número do Hospede</label></td>
		<td><input [(ngmodel)]="form.NumeroHospede" name="NumeroHospedebox"></td>
	</tr>
	<tr>
		<td><label>UH Nº</label></td>
		<td><input [(ngmodel)]=form.UHNumero name="UHNumerobox"></td>
	</tr>
    <!-- Empresa -->
    <tr>
		<td><label>Razão social</label></td>
		<td><input [(ngmodel)]="form.EmpRazaoSocial" name="EmpRazaoSocialbox"></td>
	</tr>
	<tr>
		<td><label>Nome fantasia</label></td>
		<td><input [(ngmodel)]=form.EmpNomeFantasia name="EmpNomeFantasiabox"></td>
	</tr>
    <tr>
		<td><label>Rede</label></td>
		<td><input [(ngmodel)]="form.EmpRede" name="EmpRedebox"></td>
	</tr>
	<tr>
		<td><label>Endereço da empresa</label></td>
		<td><input [(ngmodel)]=form.EmpEndereco name="EmpEnderecobox"></td>
	</tr>
    <tr>
		<td><label>Estado</label></td>
		<td><input [(ngmodel)]="form.EmpEstado" name="EmpEstadoox"></td>
	</tr>
	<tr>
		<td><label>Múnicipio</label></td>
		<td><input [(ngmodel)]=form.EmpMunicipio name="EmpMunicipiobox"></td>
	</tr>
    <tr>
		<td><label>CNPJ</label></td>
		<td><input [(ngmodel)]="form.EmpCNPJ" name="EmpCNPJbox"></td>
	</tr>
	<tr>
		<td><label>Cadastur</label></td>
		<td><input [(ngmodel)]=form.EmpCadastur name="EmpCadasturbox"></td>
	</tr>
    <tr>
		<td><label>Tipo</label></td>
		<td><input [(ngmodel)]="form.EmpTipo" name="EmpTipobox"></td>
	</tr>
	<tr>
		<td><label>CEP da empresa</label></td>
		<td><input [(ngmodel)]=form.EmpCep name="EmpCepbox"></td>
	</tr>
    <tr>
		<td><label>E-mail</label></td>
		<td><input [(ngmodel)]="form.EmpEmail" name="EmpEmailbox"></td>
	</tr>
	<tr>
		<td><label>CAT</label></td>
		<td><input [(ngmodel)]=form.EmpCat name="EmpCatbox"></td>
	</tr>
    <tr>
		<td><label>Telefone da empresa</label></td>
		<td><input [(ngmodel)]="form.EmpTelefone" name="EmpTelefonebox"></td>
	</tr>

	<tr>
		<td><label>Entrada</label></td>
		<td><input [(ngmodel)]="form.Entrada" name="Entradabox" type = "date"></td>
	</tr>
	<tr>
		<td><label>Saída</label></td>
		<td><input [(ngmodel)]=form.Saída name="Saídabox" type = "date"></td>
	</tr>
	
	<td><br><H3>Dinheiro</H3></td>   
	<td><br><button (click)="checkInFunc(form)" >Finalizar</button></td>
</table>






